DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=martina-store-nest

JWT_SECRET=
JWT_EXPIRES_IN=1h

# Storage
STORAGE_DRIVER=local          # local | s3

# Local storage
STORAGE_LOCAL_DEST=uploads
STORAGE_LOCAL_BASE_URL=http://localhost:3000/uploads

# S3 storage (solo en producción)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
